#racingTable {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-size: 9;
}

#racingTable .column-header,
#racingTable .table-cell {
    -fx-border-color: white;
}
#racingTable #roundNumberColumn {
    -fx-background-color: white;
}
#racingTable .column-header:label {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#racingTable #dateColumn {
    -fx-background-color: white;
}
#racingTable #placeColumn {
    -fx-background-color: white;
}
#racingTable #nameOfGrandPrix {
    -fx-background-color: white;
}

#racingTable .column-header .label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}






