.button {
    -fx-background-color: #f13353;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #d82d4a;
}

.root{
    -fx-background-color: white;
}

.text-field  {
    -fx-background-color: white;
    -fx-border-width: 0.5px;
    -fx-border-color: black;
    -fx-background-radius: 2px;
}

.text-field:focused {
    -fx-background-color: white;

}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.combo-box:hover {
    -fx-background-color: ##f13353;
}

.combo-box:focused {
    -fx-background-color: #f13353;
}

.combo-box .arrow-button {
    -fx-background-color: #f13353;
    -fx-color: black;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.spinner {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.spinner .increment-arrow-button {
    -fx-background-color: #f13353;
}

.spinner .decrement-arrow-button {
    -fx-background-color: #f13353;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: white;
}

.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: white;
}

.color-picker{
    -fx-background-color: #f13353;

}

.color-picker .color-picker-label .text{
       -fx-fill: white;
}
